SlmLeadService/SLS.Service/Service References/AolServiceProxy/HpaoflExtService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HpaoflExtService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IHpaoflExtService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://aofwebp01b.kiatnakinbank.com:61102/HPAOFLFront/HPAOFLServices/HpaoflExtService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://aofwebp01b.kiatnakinbank.com:61102/HPAOFLFront/HPAOFLServices/HpaoflExtService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://aofwebp01b.kiatnakinbank.com:61102/HPAOFLFront/HPAOFLServices/HpaoflExtService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KK.HPAOFL.Services.OnlineServices.Objects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHpaoflExtService_CreateAOLApplicationNo_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAOLApplicationNo" />
  </wsdl:message>
  <wsdl:message name="IHpaoflExtService_CreateAOLApplicationNo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAOLApplicationNoResponse" />
  </wsdl:message>
  <wsdl:message name="IHpaoflExtService_GetMainMarketingByDealer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMainMarketingByDealer" />
  </wsdl:message>
  <wsdl:message name="IHpaoflExtService_GetMainMarketingByDealer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMainMarketingByDealerResponse" />
  </wsdl:message>
  <wsdl:portType name="IHpaoflExtService">
    <wsdl:operation name="CreateAOLApplicationNo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHpaoflExtService/CreateAOLApplicationNo" message="tns:IHpaoflExtService_CreateAOLApplicationNo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHpaoflExtService/CreateAOLApplicationNoResponse" message="tns:IHpaoflExtService_CreateAOLApplicationNo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMainMarketingByDealer">
      <wsdl:input wsaw:Action="http://tempuri.org/IHpaoflExtService/GetMainMarketingByDealer" message="tns:IHpaoflExtService_GetMainMarketingByDealer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHpaoflExtService/GetMainMarketingByDealerResponse" message="tns:IHpaoflExtService_GetMainMarketingByDealer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IHpaoflExtService" type="tns:IHpaoflExtService">
    <wsp:PolicyReference URI="#WSHttpBinding_IHpaoflExtService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateAOLApplicationNo">
      <soap12:operation soapAction="http://tempuri.org/IHpaoflExtService/CreateAOLApplicationNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMainMarketingByDealer">
      <soap12:operation soapAction="http://tempuri.org/IHpaoflExtService/GetMainMarketingByDealer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HpaoflExtService">
    <wsdl:port name="WSHttpBinding_IHpaoflExtService" binding="tns:WSHttpBinding_IHpaoflExtService">
      <soap12:address location="http://aofwebp01b.kiatnakinbank.com:61102/HPAOFLFront/HPAOFLServices/HpaoflExtService.svc/mtom" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://aofwebp01b.kiatnakinbank.com:61102/HPAOFLFront/HPAOFLServices/HpaoflExtService.svc/mtom</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>