SlmLeadService/SLS.Service/Service References/AolServiceProxy/HpaoflExtService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://aofwebp01b.kiatnakinbank.com:61102/HPAOFLFront/HPAOFLServices/HpaoflExtService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KK.HPAOFL.Services.OnlineServices.Objects" />
  <xs:element name="CreateAOLApplicationNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KK.HPAOFL.Services.OnlineServices.Objects" minOccurs="0" name="request" nillable="true" type="q1:CreateAOLApplicationNoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAOLApplicationNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KK.HPAOFL.Services.OnlineServices.Objects" minOccurs="0" name="CreateAOLApplicationNoResult" nillable="true" type="q2:CreateAOLApplicationNoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMainMarketingByDealer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KK.HPAOFL.Services.OnlineServices.Objects" minOccurs="0" name="request" nillable="true" type="q3:GetMainMarketingByDealerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMainMarketingByDealerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KK.HPAOFL.Services.OnlineServices.Objects" minOccurs="0" name="GetMainMarketingByDealerResult" nillable="true" type="q4:GetMainMarketingByDealerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>