SaleLeadManagement/SLM.Application/Service References/CSMSRServiceProxy/CSMSRService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.kiatnakinbank.com/services/CSM/CSMSRService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CSMSRService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.kiatnakinbank.com/services/CSM/CSMSRService" location="http://10.3.112.51/CSMWS/CSMSRService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_ICSMSRService" type="i0:ICSMSRService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSR">
      <soap:operation soapAction="http://www.kiatnakinbank.com/services/CSM/CSMSRService/ICSMSRService/CreateSR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSR">
      <soap:operation soapAction="http://www.kiatnakinbank.com/services/CSM/CSMSRService/ICSMSRService/UpdateSR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSR">
      <soap:operation soapAction="http://www.kiatnakinbank.com/services/CSM/CSMSRService/ICSMSRService/SearchSR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSR">
      <soap:operation soapAction="http://www.kiatnakinbank.com/services/CSM/CSMSRService/ICSMSRService/GetSR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSRActivityFromReplyEmail">
      <soap:operation soapAction="http://www.kiatnakinbank.com/services/CSM/CSMSRService/ICSMSRService/CreateSRActivityFromReplyEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReSubmitActivityToCARSystem">
      <soap:operation soapAction="http://www.kiatnakinbank.com/services/CSM/CSMSRService/ICSMSRService/ReSubmitActivityToCARSystem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReSubmitActivityToCBSHPSystem">
      <soap:operation soapAction="http://www.kiatnakinbank.com/services/CSM/CSMSRService/ICSMSRService/ReSubmitActivityToCBSHPSystem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CSMSRService">
    <wsdl:port name="BasicHttpBinding_ICSMSRService" binding="tns:BasicHttpBinding_ICSMSRService">
      <soap:address location="http://10.3.112.51/CSMWS/CSMSRService.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>