SaleLeadManagement/SLM.Application/Service References/CSMSRServiceProxy/CSMSRService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusResponse" nillable="true" type="tns:StatusResponse" />
</xs:schema>