SaleLeadManagement/SLM.Application/Service References/CSMBranchService/CSMBranchService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.Calendar" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.Calendar" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.3.112.51/CSMWS/CSMBranchService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.Common" />
  <xs:complexType name="UpdateCalendarResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.Common" minOccurs="0" name="Header" nillable="true" type="q1:Header" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.Common" minOccurs="0" name="StatusResponse" nillable="true" type="q2:StatusResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateCalendarResponse" nillable="true" type="tns:UpdateCalendarResponse" />
</xs:schema>