SaleLeadManagement/SLM.Application/Service References/CSMBranchService/CSMBranchService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CSM.Service.Messages.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.3.112.51/CSMWS/CSMBranchService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Header">
    <xs:sequence>
      <xs:element name="password" nillable="true" type="xs:string" />
      <xs:element name="reference_no" nillable="true" type="xs:string" />
      <xs:element name="service_name" nillable="true" type="xs:string" />
      <xs:element name="system_code" nillable="true" type="xs:string" />
      <xs:element name="transaction_date" nillable="true" type="xs:string" />
      <xs:element name="user_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="channel_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="command" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Header" nillable="true" type="tns:Header" />
  <xs:complexType name="StatusResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BranchCodeNotFoundList" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusResponse" nillable="true" type="tns:StatusResponse" />
</xs:schema>